---
const { tech } = Astro.props;
---

<div
  class="flex items-center justify-center p-4 bg-card/50 hover:bg-gray-100/60 transition-colors border border-border/50"
>
  <span class="text-sm font-medium">{tech}</span>
</div>
