---
import ExperienceItem from "../molecules/experience-item.astro";
import { experience as experienceData } from "@/lib/lib";
---

<section id="experience" class="py-20 px-6 bg-card/30">
  <div class="container mx-auto max-w-6xl">
    <h2 class="text-3xl font-bold mb-12">Experiencia</h2>

    <div class="space-y-12">
      {
        experienceData.map((item) => (
          <ExperienceItem key={item.title} {...item} />
        ))
      }
    </div>
  </div>
</section>
